body {
  margin: 0;
  padding: 0;
  background: url("/login/images/cover4.jpg") no-repeat 0px 0px;
  min-height: 100vh;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #579593;
  color: #ffff
}

#left {
  width: 40%;
  float: left;
  margin: 4.5px;
  height: 90px;
  display: flex;
}

#one {
  margin-left: 5px;
  color: #fff;
}

#two {
  text-align: center;
  line-height: 62px;
  color: white;
  opacity: 60%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  align-items: center; 
  
}

.form {
  margin-left:50px;
 border-bottom: 2px solid #ccc;
 margin: auto;
}

table {
  width: 40%;
  margin:auto; 
  border: 2px solid;
  padding: 20px;
  background-color: rgba(121, 188, 191, 0.4);
  
}
#am{
 padding-left: 80px;
}

th,td {
  padding: 10px;
  margin-left: 2px;
  padding-left: 40px;
  text-align: left;
  font-size: large;
}
th{
  font-size: large;
  border: 2px solid;
  margin-left: 3px;
}



button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E1D4CA;
  color: #010101;
  border: none;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  font-weight:bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 45%;
}

.result {
 
  padding-top: 10px;
  margin-left: 30%;
}

#total-amount {
  font-size: 20px;
  font-weight: bold;
}
.monyr{
  margin-left:30%;
  margin-bottom: 40px;
  font-size: large;
  font-weight: bold;
}
#month {
  margin-left:10px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 10px;
}

